body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

body.dark {
	background-color: #222;
	color: #fff;

	& nav {
		background-color: #444;
		border-left: 10px solid #666;
		border-right: 10px solid #666;
	}

	& #logo {
		background-color: #444;
		border-left: 10px solid #666;
		border-right: 10px solid #666;
	}
}
